nav {
  background: linear-gradient(to right, #f27121, red);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0px;
  padding: 0px;
  color: white;
}

button {
  border: none;
  background: #f27121;
  font-size: 18px;
  color: white;
  margin-right: 14px;
  height: 40px;
  width: 100px;
  box-shadow: 2px 2px 0px #555;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: translateY(-2px) scale(1.1);
    box-shadow: none;
  }
}
